[submodule "openeo-community-examples"]
	path = openeo-samples/openeo-community-examples
	url = https://github.com/Open-EO/openeo-community-examples.git
[submodule "sample-notebooks"]
	path = openeo-samples/sample-notebooks
	url = https://github.com/openEOPlatform/sample-notebooks.git
